@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div>
        @Html.Partial("_Header")
    </div>
    <nav class="navBar">
        <ul class="navBarList">
            <li>Opcje</li>
            <li>Poziom trudności</li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
