@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div>
        @Html.Partial("_Header")
    </div>
    <nav class="navBar">
        <ul class="navBarList">
            <li>
                Opcje(Only option is to play a game)
            </li>
            <li class="difficultyLevelsHover">
                Poziom trudności
                <ul class="difficultyLevels">
                    @using(Html.BeginForm("changeDifficultyLevel", "Saper"))
                    {
                        <li>
                            <button class="resetButton" type="submit" name="difficultyLevel" value="easy">
                                Easy
                            </button>
                        </li>
                        <li>
                            <button class="resetButton" type="submit" name="difficultyLevel" value="medium">
                                Medium
                            </button>
                        </li>
                        <li>
                            <button class="resetButton" type="submit" name="difficultyLevel" value="hard">
                                Hard
                            </button>
                        </li>
                        <li>
                            <button class="resetButton" type="submit" name="difficultyLevel" value="custom">
                                Custom
                            </button>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
