nav.navBar {
    margin: auto;
    width: 97%;
    padding: 10px;
    height: 60px;

}

h3.titleBar {
    text-align: left;
    color: floralwhite;
    padding: 0px 80px;
}

body {
    background-color: #3A3333;
}


ul.navBarList li {
    display: inline-block;
    padding: 0px 19px;
    color: floralwhite;
    align-content: center;
    position: relative
    
}

.cutomGameBoardOptions {
    color: floralwhite;
}

ul.gameInformations li {
    display: inline-block;
    padding: 0px 15px;
    color: floralwhite;
    width: 10%;
}

ul.gameInformations {
    list-style: none;
    text-align: left;

}

.gameBoardNavbar{
    align-items: flex-start;
}

.gameBoard {
    margin: auto;
    width: 90%;
    font-size: 0;
}

.gameMessage {
    text-align: center;
    color: floralwhite;
}

ul.difficultyLevels {
    display: none;
    position:absolute;
}


li.difficultyLevelsHover:hover ul {
    display: block;
}

button.gameBoard-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    height: 22px;
    width: 27px;
}

img {
    width: 22px;
    height: 22px;
}
